@import "../../_variables";

.card-container {
  width: 61.6155rem;
  background-color: $system_default_white;
  border: 1rem solid $blue;
  border-radius: 1.69194rem;

  display: flex;
  flex-direction: column;
}
