$system_default_white: #F4F2FF;
$system_default_black : #000000;

$blue : #2B1887;
$iris: #5D5FEF;

$todo-blue: #2D41A7;
$todo-red: #E42C5F;
$todo-yellow: #ECB800;


$font-family-default :  'SF Pro Display', sans-serif;