@use "./_variables.scss";

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.App {
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    justify-content: center;
    height: 100%;
}