@import "../_variables";


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 1024px;
    height: 100%;
    background-color: $blue;
    color: $system_default_white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

